*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    height: 92px;
    border: 2px solid grey;
    background-color: #1A0B2E;
    color: #FFFFFF;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav .menu a{
    font-size: 16px;
    font-weight: 500px;
    text-decoration: none;
    color: #FFFFFF;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    color: #FFFFFF;
}

.menu a:hover{
    color: rgb(229, 10, 174);
}

.btn {
        border-radius: 10000px;
        background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);
}

.btn{
        height: 44px;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 40px 12px 20px;   
        color: #FFFFFF;
        border: none;
        cursor: pointer;   
        /* text-align: center; */
        /* display: flex;
        justify-items: center;
        align-items: center; */

}

nav button i {
    padding-left: 10px;
}

.container{
    background: url(./assets/hero-bg.png);
    background-size: cover;
}

.hero-container{
    background-image: url(./assets/hero-bg.png);
    width: 100%;
    height: 760px;
}

.hero-image{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding: 101px 625px 0px 625px;
}

.hero-image .microphone{
    position:absolute;
    padding: 69px 75px 81px 75px;
}

.card{
  width:75px;
  height: 40px;
  background: #00FF88;
  border-radius: 1000px;
  position: absolute;
  top: 27%;
  right: 41%;
  padding: 8px 16px;
}

.badge{
    width: 43px;
    height: 25px;

}

.hero-content{
    color: #FFFFFF;
    margin-top: 40px;
    text-align: center;
    padding-bottom: 51px;
    
}

.hero-content h1{
    margin-bottom: 8px;
    font-size: 60px;
    font-weight: 800;
}

.hero-content p {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
}

.hero-content .btn1{
    font-size: 16px;
    height: 44px;
    padding: 12px 40px 12px 20px;
    border-radius: 10000px;
    background-color: none;
    background: transparent;
    border-color: #00FF88;
    color: #00FF88;
}

.hero-content i{
   
    margin-right: 8px;
}

.hero-content img{
    width: 20px;
    margin-right: 8px;
    text-align: center;

}

.about-container{
    background-color: #1A0B2E;
    text-align: center;
    color: #FFFFFF;
}

.about-container h1{
    font-size: 48px;
    gap: 16px;
}

.about-container p{
    font-size: 16px;
    margin-bottom: 20px;
    
}

.podcast-container{
    background-color: #1A0B2E;
    padding: 60px 0px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.podcast-items h2{
    color: #00FF88;
}

.podcast-items p{
    color: #FFFFFF;
}

.container{
   background: rgba(35, 14, 61, 1);
   padding: 120px 200px;
}

.section-header{
    margin-top: 120px; 
    text-align: center;
    width: 1200px;
    height: 59px;
}
.section-header h2{
      font-size: 48px;
      font-weight: 700;
      color: #FFFFFF;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    color: #FFFFFF;
}

.features-grid p{
      font-size: 16px;
      font-weight: 400;
      color: #ffffff7d;
     
}
.card1{
    grid-row: span 2;
    width: 380px;
    height: 480px;
    background: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px;
    
}
.cards{
    background: rgba(53, 17, 101, 0.4);
    width: 790px;
    height: 225px;
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    
}

.card2{
    background: rgba(53, 17, 101, 0.4);
    width: 790px;
    height: 273px;
    grid-column: span 2;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.card3{
    background-color: rgba(53, 17, 101, 0.4);
    width: 380px;
    height: 273px;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.footer-container{
    background: url(./assets/footer-bg.png);
    padding: 130px 595px 232px 595px;
}

.footer-logo{
    width: 410px;
    height: 60px;
    margin-bottom: 28px;
}

.footer-social-icon{
    width: 544px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}

.footer-social-icon a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-icon img{
    display: inline;
    margin-right: 5px;
}
    
.footer-container .copy{
    color: #FFFFFF;
    margin-top: 32px;
    text-align: center;

}